<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Instructions</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation-emails/2.2.1/foundation-emails.min.css" integrity="sha512-KerNlL8IwWSNMC1Y31Mbt0+sh2QJ0BhRKYd6MyL/T6o0q3G/L1wUok08eNRG1byGWd4mtXcPf4+jPQ5+ztL+hQ==" crossorigin="anonymous" />
    <style>
      body {
        background-color: #0e1e33;
        color: #ffffff;
        font-family: sans-serif;
      }
      h1 {
        color: #0088cc;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: center;
      }
      .callout .cta {
        background-color: #0088cc;
        border-radius: 3px;
        color: #ffffff !important;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        margin-top: 20px;
        padding: 15px 30px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
      }
      .callout .cta:hover {
        background-color: #006699;
      }
      .callout {
        background-color: #1d3557;
        border-radius: 3px;
        padding: 20px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <center>
      <table class="body" data-made-with-foundation>
        <tr>
          <td class="float-center" align="center" valign="top">
            <center>
              <table class="container">
                <tr>
                  <td>
                    <table class="row">
                      <tr>
                        <td class="wrapper last">
                          <table class="twelve columns">
                            <tr>
                              <td>
                                <h1>Reset Password Instructions</h1>
                                <p>You recently requested to reset your password. Click the button below to reset your password:</p>
                                <table class="callout">
                                  <tr>
                                    <td class="cta-wrapper" align="center" style="text-align: center;">
                                      <%= link_to 'Reset Password', "#{message['redirect-url']}?reset_password_token=#{@token}", class: "cta" %>
                                    </td>
                                  </tr>
                                </table>
                                <p>If you did not make this request, please ignore this message and your password will remain unchanged.</p>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </center>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
